
    <header class="row">
      <div class="large-12 columns text-center">
       <h1 id="main-title">Huon d'Auvergne</h1>
      </div>
    </header>

     <section class="row">
      <div class="large-8 large-offset-2 columns">

<!--       <img src="/img/hours_cropped.jpg"> -->
        <p>The Huon d'Auvergne Digital Edition is an inter-institutional, interdisciplinary project that presents the Franco-Italian Huon d'Auvergne romance-epic to a general audience for the first time. Funded by the National Endowment for the Humanities, the project aims to reach a diverse audience of both students and researchers. The modern English translation will make the text available widely for the first time, while the critical editions will allow epic scholars to read and research the Huon d'Auvergne textual tradition. The digital tools presented in this site will eventually facilitate access to high-resolution images of the manuscripts. It is our hope that the textual resources presented on our site will be used to further both research and teaching in epic studies. A technical report of the project can be found on our <a href="https://github.com/wludh/huon_rails/blob/master/tech-report.md">GitHub repository</a>.</p>
        <hr>
        <h4 id="sub-header">Critical Editions</h4>
        <div id="manuscript_list_index">
          <%= link_to 'Berlin (B)', b_manuscript_path() %> |
          <%= link_to 'Turin (T)', t_manuscript_path() %> |
          <%= link_to 'Padua (P)', p_manuscript_path() %> |
          <%= link_to 'Barbieri Fragment (Br)', br_manuscript_path() %> |
          <%= link_to 'Berlin Translation', b_translation_path() %> |
          <%= link_to 'Hell Scene Comparison', hell_scene_path() %> |
        </div>
        <hr>
        <h4 id="sub-header">Huon d'Auvergne Project Team</h4>
        <div id="editorial_staff">
          <h5 id="sub-header">Lead Investigators</h5>

          <div class="participant_section"><a href="http://www.loyola.edu/academic/modernlanguages/faculty/italian/morgan.aspx">Leslie Zarker Morgan</a>, Project Director and Principal Investigator (Loyola University Maryland)<br>
                    <a href="http://www.unf.edu/~sschwam/">Shira Schwam-Baird</a>, Principal Investigator (University of North Florida)<br>
                    <a href="https://wlu.academia.edu/StephenPatrickMcCormick">Stephen P. McCormick</a>, Principal Investigator (Washington and Lee University)</div>

          <h5 id="sub-header">Collaborating Scholars</h5>

          <div class="participant_section"><a href="http://history.arizona.edu/alan-bernstein">Alan Bernstein</a> (University of Arizona)<br>
                    <a href="http://ciham.ish-lyon.cnrs.fr/membres/jean-claude-vallecalle">Jean-Claude Vallecalle</a> (Université Lumière Lyon 2)<br>
                    <a href="http://www.ed.ac.uk/literatures-languages-cultures/delc/french/staff/philip-bennett">Philip Bennett</a> (University of Edinburgh)<br>
                    <a href="http://independent.academia.edu/MichelaGScattolini">Michela G. Scattolini</a> (Genoa, Italy; Independent researcher)</div>

          <h5 id="sub-header">Digital Humanities Scholars</h5>

          <div class="participant_section"><a href="http://library.wlu.edu/about/library-directory/mackenzie-brooks">Mackenzie Brooks</a> (Wasington and Lee University)<br>
                    <a href="http://library.wlu.edu/about/library-directory/jeff-barry">Jeff Barry</a> (Wasington and Lee University)<br>
                    <a href="http://library.wlu.edu/about/library-directory/brandon-walsh">Brandon Walsh</a> (Wasington and Lee University)</div>

          <h5 id="sub-header">Washington and Lee Student Researchers</h4>

          <div class="participant_section">Natsumi Alvarez (Summer 2015) - TEI encoding and development<br>
                    Dashiel Derricks (Fall 2015 - Winter 2016) - TEI encoding and development; Versioning Machine<br>
                    Sarah Schaffer (Winter 2016) - Annotation prototyping<br>
                    Abdurrafey Khan (Fall 2016 - Spring 2017) - Versioning Machine<br>
        </div>
       <hr>
      </div>
    </section>
    <%= render 'layouts/footer' %>
