
<div class="container">

<div class="row">

  <div class="col-1">

  </div>

  <div class="col-11">

  <p class="intro"><img class="initial"<%= image_tag("initial-home-page.png", alt: "Initial L") %></img>inking institutions and disciplines, the Huon d'Auvergne Digital Archive is a collaborative scholarly project that presents for the first time to a modern reading audience the Franco-Italian Huon d'Auvergne romance epic. The first phase of the project (January 1, 2014 - August 31, 2017), funded by the generosity of the National Endowment for the Humanities, develops the first version of the Huon digital archive, which includes diplomatic editions of all four extant manuscripts, an accompanying English translation, and a reading interface that demonstrates protocols for textual analysis and comparison of variants. From the initial foundation of phase one, the Huon editorial team will build additional functionality involving high-resolution scans of the four Franco-Italian manuscripts, creating an interactive and linked reading environment. It is our hope that the results of phase one will already be useful to researchers, teachers, and students of medieval epic. A technical report of the project can be found on our <a href="https://github.com/wludh/huon_rails/blob/master/tech-report.md">GitHub repository</a>.</p>
          <hr>
          <h4 id="sub-header">Critical Editions</h4>
          <div id="manuscript_list_index">
            <%= link_to 'Berlin (B)', b_manuscript_path() %> |
            <%= link_to 'Turin (T)', t_manuscript_path() %> |
            <%= link_to 'Padua (P)', p_manuscript_path() %> |
            <%= link_to 'Barbieri Fragment (Br)', br_manuscript_path() %> |
            <%= link_to 'Berlin Translation', b_translation_path() %> |
            <%= link_to 'Hell Scene Comparison', hell_scene_path() %> 
          </div>
          <hr>
          <h4 id="sub-header">Huon d'Auvergne Project Team</h4>
          <div id="editorial_staff">

            <h5 id="sub-header">Lead Investigators</h5>

              <div class="participant_section">
                <a href="http://www.loyola.edu/academic/modernlanguages/faculty/italian/morgan.aspx">Leslie Zarker Morgan</a>, Project Director and Principal Investigator (Loyola University Maryland)<br>
                <a href="http://www.unf.edu/~sschwam/">Shira Schwam-Baird</a>, Principal Investigator (University of North Florida)<br>
                <a href="https://wlu.academia.edu/StephenPatrickMcCormick">Stephen P. McCormick</a>, Principal Investigator (Washington and Lee University)</div>

            <h5 id="sub-header">Collaborating Scholars</h5>

              <div class="participant_section">
                <a href="http://history.arizona.edu/alan-bernstein">Alan Bernstein</a> (University of Arizona)<br>
                <a href="http://ciham.ish-lyon.cnrs.fr/membres/jean-claude-vallecalle">Jean-Claude Vallecalle</a> (Université Lumière Lyon 2)<br>
                <a href="http://www.ed.ac.uk/literatures-languages-cultures/delc/french/staff/philip-bennett">Philip E. Bennett</a> (University of Edinburgh)<br>
                <a href="http://independent.academia.edu/MichelaGScattolini">Michela G. Scattolini</a> (Genoa, Italy; Independent researcher)</div>

            <h5 id="sub-header">Collaborating Institutions</h5>

              <div class="participant_section">
                <a href="http://www.archiginnasio.it/">Biblioteca Comunale dell'Archiginnasio (Bologna, Italy)</a><br>
                <a href="http://www.maru.firenze.sbn.it/">Biblioteca Marucelliana (Florence, Italy)</a><br>
                <a href="http://www.bnto.librari.beniculturali.it/">Biblioteca Nazionale di Torino (Turin, Italy)</a><br>
                <a href="http://www.bibliotecaseminariopda.it/">Biblioteca Antica del Seminario Vescovile di Padova (Padua, Italy)</a><br>
              </div>

            <h5 id="sub-header">Digital Humanities Scholars</h5>

              <div class="participant_section">
                <a href="http://library.wlu.edu/about/library-directory/mackenzie-brooks">Mackenzie Brooks</a> (Washington and Lee University)<br>
                <a href="http://library.wlu.edu/about/library-directory/jeff-barry">Jeff Barry</a> (Washington and Lee University)<br>
                <a href="http://library.wlu.edu/about/library-directory/brandon-walsh">Brandon Walsh</a> (Washington and Lee University)
              </div>

            <!-- <h5 id="sub-header">Washington and Lee Student Researchers</h4>

              <div class="participant_section">Natsumi Alvarez (Summer 2015) - TEI encoding and development<br>
                Dashiel Derricks (Fall 2015 - Winter 2016) - TEI encoding and development; Versioning Machine<br>
                Sarah Schaffer (Winter 2016) - Annotation prototyping<br>
                Abdurrafey Khan (Fall 2016 - Spring 2017) - Versioning Machine<br>
              </div> -->

         <hr>
<!-- 
  </div>

  <div class="col-1">

  </div> -->


</div>

</div>

<%= render 'layouts/footer' %>
