<%= stylesheet_link_tag 'base_styles' %>
<%= stylesheet_link_tag'tei_styles' %>
<%= stylesheet_link_tag 'app' %>


<% @title, @introduction, @text, @line_groups = parse_tei('p.xml') %>
                <TEI>
                    <div id="hidden-title">
                        <%= @title %>
                    </div>
                    <!-- placeholder for byline in the future -->
<!--                <div id="hidden-byline">
                       <%= @byline %> 
                    </div> -->
                    <div id="hidden-introduction">
                        <%= @introduction %>
                    </div>
                </TEI>

                <div id="tei_wrapper">
                    <% @line_groups.each do |line_group| %>
                        <div class="lg">
                        line_group.                        
                            <% for l in line_group.search('l') %>
                                <p class="l"><%= l.text %></p>
                            <% end %>
                        </div>
                    <% end %>
                </div>