<%= stylesheet_link_tag 'base_styles' %>
<%= stylesheet_link_tag'tei_styles' %>
<%= stylesheet_link_tag 'app' %>


<% @title, @introduction, @text, @line_groups = parse_tei('p.xml') %>
                <div id="TEI_left_panel">
                    <TEI>
                        <div id="left-content">
                            <div id="hidden-title">
                                <%= @title %>
                            </div>
                            <!-- placeholder for byline in the future -->
        <!--                <div id="hidden-byline">
                               <%= @byline %> 
                            </div> -->
<!--                             <div id="hidden-introduction">
                                <%= @introduction %>
                            </div> -->

                            <div class="center">
                                <div id="num_laisses"></div>
                                    <input type="text" id="selected_laisse"/>
                                </div>
                                <div id="top-buttons">
                                    <a onclick="reveal_laisse()" id="top">Show Laisse</a> | 
                                    <a onclick="reveal_all()">Reveal All</a> | 
                                    <a onclick="hide_all()">Hide All</a> | 
                                    <a onclick="browse_previous()">Previous</a> | 
                                    <a onclick="browse_next()">Next</a>
                                </div>
                        </div>
                        <hr>
                        <div id="notes">
                            <div class="center">Notes</div>
                            <div class="note-contents">
                                <footnote id="1">This is the wrong footnote.</footnote>
                                <footnote id="2">This is the wrong footnote.</footnote>
                                <footnote id="3">This is the right footnote.</footnote>
                                <footnote id="4">This is the wrong footnote.</footnote>
                            </div>
                        </div>
                    </TEI>
                </div> 

                <div id="TEI_reader">
                    <div id="tei_wrapper">
                        <% @line_groups.each do |line_group| %>
                            <%= "<lg n=#{line_group.attr('n')}>".html_safe %>
                                <div class="line-heading">
                                    <%= @head = line_group.search('head').text %>
                                </div>
                                <div class="lines">
                                    <% for l in line_group.css('l') %>
                                    <%= "<l n=#{l.attr('n')}>".html_safe %>
                                            <% if l.css('pb').present? %>
                                                <%= tag("div", id:["page-break"])%>
                                                <%= "page: " + l.css('pb').attr('n').text %>
                                                <%= "</div>".html_safe %>
                                            <% end %>
                                        <% for child in l.children %>
                                            <% if child.name == 'choice' %>
                                                <%= "<choice>".html_safe %>
                                                <% for choice_child in child.children %>
                                                    <%= "<#{choice_child.name}>#{choice_child.text}</#{choice_child.name}>".html_safe %>
                                                <% end %>
                                                <%= "</choice>".html_safe %>
                                            <% elsif child.name == 'ex' %>    
                                                <%= parse_tag(child) %>
                                                <!-- The following two elsif statements are entirely just for testing note functionality. -->
                                            <% elsif child.text == "Ni de mare ni de pare se l'avesse inçenerie;"
                                                %>
                                                <%= ('<annotation n="3" onclick="annotation_reveal(3)">' + "#{child.text}" + '</annotation><sup onclick="annotation_reveal(3)">*</sup>').html_safe %>
                                            <% elsif child.text == "Che in lo conte Ugo aveva messo so pensie;" %>
                                                <%= ('<annotation n="1">' + "#{child.text}" + '</annotation><sup onclick="annotation_reveal(1)">*</sup>').html_safe %>
                                            <% else %>
                                                <%= child.text %>
                                            <% end %>
                                        <% end %>
                                    <%= "</l>".html_safe %>
                                    <% end %>
                                </div>
                            </lg>
                        <% end %>
                    </div>
                </div>