<%= stylesheet_link_tag 'base_styles' %>
<%= stylesheet_link_tag'tei_styles' %>
<%= stylesheet_link_tag 'app' %>


<% @title, @introduction, @text, @line_groups = parse_tei('p.xml') %>
                <div id="TEI_left_panel">
                    <TEI>
                        <div id="left-content">
                            <div id="hidden-title">
                                <%= @title %>
                            </div>
                            <!-- placeholder for byline in the future -->
        <!--                <div id="hidden-byline">
                               <%= @byline %> 
                            </div> -->
<!--                             <div id="hidden-introduction">
                                <%= @introduction %>
                            </div> -->

                            <div class="center">
                                <div id="num_laisses"></div>
                                    <input type="text" id="selected_laisse"/>
                                </div>
                                <div id="top-buttons">
                                    <a onclick="reveal_laisse()" id="top">Show Laisse</a> | 
                                    <a onclick="reveal_all()">Reveal All</a> | 
                                    <a onclick="hide_all()">Hide All</a> | 
                                    <a onclick="browse_previous()">Previous</a> | 
                                    <a onclick="browse_next()">Next</a>
                                </div>
                        </div>
                        <hr>
                        <div id="notes">
                            <div class="center">Notes</div>
                            <div class="note-contents">
                            <!-- You'll probably want to have a @footnotes variable here. parse_footnote() gets the note text added to it for each annotation present in the line_group from whatever they're stored in. Then parse_footnotes() here generates the tags. Then you use the javascript to  -->
                            <%#= parse_footnotes()%>
                                <footnote id="1">This is the wrong footnote.</footnote>
                                <footnote id="2">This is the wrong footnote.</footnote>
                                <footnote id="3">This is the right footnote.</footnote>
                                <footnote id="4">This is the wrong footnote.</footnote>
                            </div>
                        </div>
                    </TEI>
                </div> 

                <div id="TEI_reader">
                    <div id="tei_wrapper">
                        <%= parse_line_groups(@line_groups)%>
                    </div>
                </div>