<div class="container">

	<div class="row">
		<div class="col-4">
			
			<%= link_to( image_tag('dh_at_wandl.png', :id => "wludh_logo"), "https://digitalhumanities.wlu.edu/") %>

			<br>

			<%= link_to( image_tag('neh_logo.png', :id => "neh_logo"), "https://www.neh.gov/") %>
			
		</div>

		<div class="col-4">
			
			<%= link_to( image_tag('loyola_logo.svg', :id => "loyola_logo"), "https://www.loyola.edu/") %>

			<br>

			<%= link_to( image_tag('unf_logo.svg', :id => "unf_logo"), "https://www.unf.edu/") %>
			
		</div>

		<div class="col-4">
			
			<%= link_to( image_tag('marucelliana_logo.png', :id => "marucelliana_logo"), "http://www.maru.firenze.sbn.it/") %>
			
		</div>
	</div>

	<div class="date-stamp">

<script type="text/javascript">

var m = "This page was last updated: " + document.lastModified;
var p = m.length-8;

document.body.appendChild(document.createElement("center")).innerText = "Last modified: " + document.lastModified

</script>

</div>

</div>
