<!DOCTYPE html>
<html class="biblio" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
		<meta charset="utf-8" />
		<meta name="description" content="Huon d'Auvergne Bibliography"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<title>Huon Digital Archive Footer</title>
</head>

<body>

<!-- Logo Links -->
			<div class="row">

					<%= link_to( image_tag('logo_wludh.png', :id => "logo_wludh"), "https://digitalhumanities.wlu.edu/") %>

					<%= link_to( image_tag('logo_loyola.svg', :id => "logo_loyola"), "https://www.loyola.edu/") %>

					<%= link_to( image_tag('logo_unf.svg', :id => "logo_unf"), "https://www.unf.edu/") %>

					<%= link_to( image_tag('logo_neh.png', :id => "logo_neh"), "https://www.neh.gov/") %>

			</div>

<!-- Logo Links -->
			<div class="row">

					<%= link_to( image_tag('logo_marucelliana.png', :id => "logo_marucelliana"), "http://www.maru.firenze.sbn.it/") %>

					<%= link_to( image_tag('logo_archiginnasio.png', :id => "logo_archiginnasio"), "http://www.archiginnasio.it") %>

					<%= link_to( image_tag('logo_tei.png', :id => "logo_tei"), "http://www.tei-c.org/index.xml") %>

			</div>

<!-- Date Stamp -->
			<div class="date-stamp">

					<script type="text/javascript">

					var m = "This page was last updated: " + document.lastModified;
					var p = m.length-8;

					document.body.appendChild(document.createElement("center")).innerText = "Version 1.0. Last modified: " + document.lastModified

					</script>

			</div>

</body>
