<!-- Reading Grid for Manuscript Introductions -->
<div class="container">

<!-- Title Cell -->
    <div class="row">
        <div class="col-12">
            <p class="ms-intro-h1"><%= @city %>, <%= @repository %> <%= @shelflisting %></p>
        </div>
    </div>

<!-- Intro Data Row 1 -->
    <div class="row">
        <div class="col-6">
            <p class="ms-resp">Edition prepared by <%= @editor %></p>
            <p class="ms-resp">TEI encoding by <%= @encoder %> and Leslie Zarker Morgan</p>
        </div>
        <div class="col-6">
        </div>
    </div>

<!-- Intro Data Row 2 -->
    <div class="row">
        <div class="col-6">
            <p class="ms-intro-h2">Date</p>
            <p class="ms-intro"><%= @date %></p>
        </div>
        <div class="col-6">
            <p class="ms-intro-h2">Origin</p>
            <p class="ms-intro"><%= @origin %></p>
        </div>
    </div>

<!-- Intro Data Row 3 -->
    <div class="row">
        <div class="col-6">
            <p class="ms-intro-h2">Incipit</p>
            <p class="ms-intro"><%= @incipit %></p>
        </div>
        <div class="col-6">
            <p class="ms-intro-h2">Excipit</p>
            <p class="ms-intro"><%= @explicit %></p>
        </div>
    </div>

<!-- Copyright Statement Row 4 -->
    <div class="row">
        <p class="copyright">© <%= @copyright %></p>

<hr>

<!-- Introduction Cell -->
    <div class="row">
        <div class="col-12">
            <p class="ms-intro-h1">Introduction to Edition</p>
            <p class="ms-resp"><%= @introduction %></p>
        </div>
    </div>

<!-- Image and Intro Row -->
<!-- Image Cell -->
    <div class="row">
        <div class="col-6">
            <% if @current_page_short == 't' %>
            <p class="ms-image"><%= image_tag('t-120v.jpg', id: 'ms-intro', alt: 'Turin Sample') %></p>
            <p class="ms-caption">Turin, N III 19, fol. 120v.<lb> Rajna: <em>Ug. e gli uccelli.</em></p>
            <% elsif @current_page_short == 'p' %>
            <p class="ms-image"><%= image_tag('p-111r.png', id: 'ms-intro', alt: 'Padua Sample') %></p>
            <p class="ms-caption">Padua, Biblioteca del Seminario Vescovile MS 32, fol. 111r</p>
            <% elsif @current_page_short == 'br' %>
            <p class="ms-image"><%= image_tag('br-9r.jpg', id: 'ms-intro', alt: 'Bologna Sample') %></p>
            <p class="ms-caption">Bologna, Biblioteca dell'Archiginnasio B. 3489, fol. 9r</p>
            <% elsif @current_page_short == 'b' %>
            <p class="ms-image"><%= image_tag('b-69r.png', id: 'ms-intro', alt: 'Berlin Sample') %></p>
            <p class="ms-caption">Berlin, Kupferstichkabinett 78 D 8, fol. 69r</p>
            <% else @current_page_short == 'b-translation' %>
            <p class="ms-image"><%= image_tag('b-69r.png', id: 'ms-intro', alt: 'Berlin Sample') %></p>
            <p class="ms-caption">Berlin, Kupferstichkabinett 78 D 8, fol. 69r</p>
            <% end %>
        </div>

<!-- Table of Contents Cell -->
<div class="col-6">
    <div class="ms-toc">
    <p class="ms-toc">Table of Contents</p>
    <hr>
    <ol class="ms-toc" type="I">
        <li>Introduction</li>
        <li>
          <% if @current_page_short == 'b' %>
          <%= link_to 'Editorial Criteria', b_praxis_path() %>
          <% elsif @current_page_short == 't' %>
          <%= link_to 'Editorial Criteria', t_praxis_path() %>
          <% elsif @current_page_short == 'p' %>
          <%= link_to 'Editorial Criteria', p_praxis_path() %>
          <% elsif @current_page_short == 'br' %>
          <%= link_to 'Editorial Criteria', br_praxis_path() %>
          <% end %>
        </li>
        <li>Encoding Criteria</li>
        <li><%= link_to('Digital Edition', url_for(params.merge(:edition => true))) %></li>
        <li>Digital Facsimile</li>
        <li>Concordance</li>
        <li>Codicology</li>
        <li>Glossary</li>
    </ol>
    </div>
</div>
