<!DOCTYPE html>
<html>
<body>

<!-- Title Bar 


<div class="title">

      <div class="row">

          <div class="col-12">

           <div class="title">Huon d'Auvergne Digital Archive</div>

            </div>

      </div>
      
</div>

-->


<!-- Navigation Bar -->

<div id="nav">

      <ul>

            <div class="row">

                  <div class="col-8">
                    
                    <div class="title">Huon d'Auvergne Digital Archive</div>

                  </div>

                  <div class="col-1">
                            <li><%= link_to 'Home', root_path() %></li>
                  </div>

                  <div class="col-1">
                              <li class="dropdown">
                              <%= link_to 'Editions', editions_path() %>
                                <div class="dropdown-content">
                                  <a href="#"><%= link_to 'Berlin (B)', b_manuscript_path() %></a>
                                  <a href="#"><%= link_to 'Turin (T)', t_manuscript_path() %></a>
                                  <a href="#"><%= link_to 'Padua (P)', p_manuscript_path() %></a>
                                  <a href="#"><%= link_to 'Barbieri Fragment (Br)', br_manuscript_path() %></a>
                                  <a href="#"><%= link_to 'Berlin Translation', b_translation_path() %></a>
                                  <a href="#"><%= link_to 'Encoding Guidelines', encod_praxis_path() %></a>
                              </div>
                            </li>
                  </div>

                  <div class="col-1">
                            <li class="dropdown">
                              <%= link_to 'Praxis', intro_praxis_path() %>
                              <div class="dropdown-content">
                                <a href="#"><%= link_to 'B Criteria', b_praxis_path() %></a>
                                <a href="#"><%= link_to 'T Criteria', t_praxis_path() %></a>
                                <a href="#"><%= link_to 'P Criteria', p_praxis_path() %></a>
                                <a href="#"><%= link_to 'Br Criteria', br_praxis_path() %></a>
                                <a href="#"><%= link_to 'Encoding Guidelines', encod_praxis_path() %></a>
                              </div>
                            </li>
                  </div>

                   <div class="col-1">          
                            <li><%= link_to 'Bibliography', bibliography_path() %></li>
                  </div>

            </div>

      </ul>

</div>


</body>
</html>
