    <div>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Huon d'Auvergne</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul>
            <li class=""><a href="/index.html">Huon d'Auvergne: A Digital Edition</a></li>
          </ul>
        </section>
        <section class="top-bar-section">
          <ul class="right">
            <li class="">
              <%= link_to 'Bibliography', bibliography_path() %>
            </li>
          </ul>
        </section>
        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to 'Critical Editions', editions_path() %>
              <ul data-options="mobile_show_parent_link: true">
                <li> <%= link_to 'Berlin (B)', b_manuscript_path() %></li>
                <li> <%= link_to 'Turin (T)', t_manuscript_path() %></li>
                <li> <%= link_to 'Padua (P)', p_manuscript_path() %></li>
                <li> <%= link_to 'Barbieri Fragment (Br)', br_manuscript_path() %></li>
                <li><%= link_to 'Hell Scene Comparison', hell_scene_path() %></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  <!--end top bar nav-->