<!--start top bar nav-->

<!DOCTYPE html>
<html>
<body>

<div id="nav">
<ul>

  <li><%= link_to 'Bibliography', bibliography_path() %></li>

  <li class="dropdown">
    <%= link_to 'Praxis', intro_praxis_path() %>
    <div class="dropdown-content">
      <a href="#"><%= link_to 'B Criteria', b_praxis_path() %></a>
      <a href="#"><%= link_to 'T Criteria', t_praxis_path() %></a>
      <a href="#"><%= link_to 'P Criteria', p_praxis_path() %></a>
      <a href="#"><%= link_to 'Br Criteria', br_praxis_path() %></a>
      <a href="#"><%= link_to 'Encoding Guidelines', encod_praxis_path() %></a>
    </div>
  </li>

    <li class="dropdown">
    <%= link_to 'Editions', editions_path() %>
      <div class="dropdown-content">
        <a href="#"><%= link_to 'Berlin (B)', b_manuscript_path() %></a>
        <a href="#"><%= link_to 'Turin (T)', t_manuscript_path() %></a>
        <a href="#"><%= link_to 'Padua (P)', p_manuscript_path() %></a>
        <a href="#"><%= link_to 'Barbieri Fragment (Br)', br_manuscript_path() %></a>
        <a href="#"><%= link_to 'Berlin Translation', b_translation_path() %></a>
        <a href="#"><%= link_to 'Encoding Guidelines', encod_praxis_path() %></a>
    </div>
  </li>

</ul>
</div>


</body>
</html>
  <!--end top bar nav-->
