<div id="reader-nav">
            <div id="sub-title">
                Padua MS 32
                <!-- Stub because title is so long -->
                <%#= @title %>
            </div>
<!--             <div class="center-outer">
                <div class="center-inner"> -->
            <div id="reader-nav-links">
                <%= t(page_entries_info(@line_groups))%>
                    </a>
                        <%= form_tag @current_page, :method => "get", :id => "jump_form" do %>
                            <%= text_field_tag :page, params[:page], :id => 'selected_laisse' %>
                            <%= submit_tag("Jump", :name => nil, :id => 'jump_button') + '|'%>
                        <% end %>
                    <%= will_paginate(@line_groups, :page_links => false, :next_label => "", :previous_label => "Previous") + "|" + will_paginate(@line_groups, :page_links => false, :next_label => "Next", :previous_label => "") + " |"%>

                <%= link_to('Intro', url_for(params.merge(:edition => nil))) %>
                    <hr id="reader-hr">
            </div>
<!--             </div>
        </div> -->
        <div id="clear"></div>

</div>
    <div id="notes" style="display: none;">
    <%= image_tag('closePanel.png', class: 'closePanel', id: 'note-close', onclick: 'hideNotes();', alt: 'X') %>
        <div id="note-header">Notes</div>
            <div class="note-contents hidden">
            <!-- use javascript to bring out the notes here. -->
                <%= @current_notes %>
            </div>
    </div>
<div id="reader-center-div">
        <div id="TEI_reader">
            <div id="tei_wrapper">
                <%= parse_line_groups(@line_groups)%>
            </div>
    </div>
</div>