<div id="reader-nav">
            <div id="sub-title">
                <%= @short_title %>
                <!-- Stub because title is so long -->
                <%#= @title %>
            </div>
            <div id="reader-nav-links">
                <%= t(page_entries_info(@line_groups))%>
                    </a>
                        <%= form_tag @current_page, :method => "get", :id => "jump_form" do %>
                            <%= text_field_tag :page, params[:page], :id => 'selected_laisse' %>
                            <input name="edition" value="true" style="display: none;"></input>
                            <%= submit_tag("Jump", :name => nil, :id => 'jump_button') + '|'%>
                        <% end %>
                    <%= will_paginate(@line_groups, :page_links => false, :next_label => "", :previous_label => "Previous") + "|" + will_paginate(@line_groups, :page_links => false, :next_label => "Next", :previous_label => "") + " |"%>

<<<<<<< HEAD
                <%= link_to('Intro', url_for(params.merge(:edition => nil))) %>
=======
                <%= link_to('Intro', url_for(params.merge(:edition => nil)), :id => 'intro-link') %>
>>>>>>> 0338a7b4df1a873be36e4e4ae1e231c2a57d1d5d
                <form id="diplo-form">
                |
                <label for="diploCheckbox" id="diplo-label"> Diplomatic</label>
                <input type="checkbox" name="diploCheckbox" id="diploCheckbox" style="display: inline;"> | </form>
<!--                 | <div id="image-reveal">MS Image</div>
 -->                <div id="tei-reveal">TEI Embed</div>
                    <div id="tei-link-mobile">| <%= link_to('TEI', 'https://raw.githubusercontent.com/wludh/huon_rails/master/lib/assets/' + @current_page_short + '.xml') %></div>
                <hr id="reader-hr">
            </div>

        <div id="clear"></div>

</div>
    <div id="side-panel" class="hidden">
    <%= image_tag('closePanel.png', class: 'closePanel', id: 'note-close', alt: 'X') %>
        <div id="note-header" class="hidden">Notes</div>
        <div id="image-header" class="hidden">Manuscript Image</div>
            <div class="note-contents hidden">
                <%= @current_notes %>
            </div>
            <div id="ms-image-container" class="hidden">
                <%= image_tag('kittens.jpg', id: 'ms-image', class: 'hidden', alt: 'Manuscript image') %>
            </div>
            <div id="tei-embed-container" class="hidden">
            <!-- decide how this should fit into the js. because right now it's calling the div to get the text here. but that text is too dynamic so it won't get caught. -->
                <div id="tei-embed-header"></div>
                <div id="tei-embed" class="hidden">
                    <pre><%= @simple_tei %></pre>
                <div id="tei-embed-header"></div>
                <div id="tei-secret-file-name" style="display: none !important;"><%= @current_page_short%></div>
                </div>
            </div>
    </div>
<div id="reader-center-div">
        <div id="TEI_reader">
            <div id="tei_wrapper">
                <%= parse_line_groups(@line_groups)%>
            </div>
    </div>
</div>